body{
			background-color: #616161;
			margin:0 auto;
			width:771px;
			height:810px;
		}
		header {
			width:100%;
			height:100px;
			background:#212121;
			text-align:center;
			box-shadow:0 1px 10px rgba(0,0,0,.3);
		}
		header input {
			height:100px;
		}
		#main {
			width:100%;
			height:666px;
		}
		section {
			width:641px;
			float:left;
		}
		#size {
			width:100%;
			height:25px;
			text-align:center;
			background:rgb(248,255,255);
			box-shadow:0 1px 10px rgba(0,0,0,.3);
			}

		#dots {
			width:100%;
			height:640px;
			overflow:hidden;
			top:0;
			padding:0;
			margin:0;
			border:1px solid #e0e0e0;
			border-width:1px 0 0 1px;
			background:#fff;
			cursor:pointer;
			box-shadow:0 2px 6px rgba(0,0,0,.2);
		}
		#dots li {
		    list-style: none;
		    display: block;
		    border: 1px solid #e0e0e0;
		    text-indent: -10000px;
		    float: left;
		    position:relative;
		    margin: -1px 0 0 -1px;
		}
		#dots li:hover {
		    border-color: #999;
		    z-index: 1;
		}
		aside {
			width:130px;
			height:100%;
			float:left;
			background:rgb(248,255,255);
		}
		#item {
			width:100%;
			height:60px;
			text-align:center;
			margin:0;
			box-shadow:0 2px 6px rgba(0,0,0,.2);
		}
		#item_dots {
			padding:7px 0 7px 0;
			margin:0 0 0 7px;
		}
		#item input{
			width:40px;
		    height:40px;
			border-radius:10px;
		    border:2px solid #e0e0e0;
		    margin:0px 0px 0px 10px;
			box-shadow:0 2px 6px rgba(0,0,0,.2);
		    float:left;
		}
		#Pallette {
			width:100%;
			height:550px;
			float:left;
			width:inherit;
			box-shadow:0 1px 1px rgba(0,0,0,.3);
		}
		#pallette_dots {
			padding:0 0 10px 0;
			margin:0 0 0 7px;
		}
		#Pallette li {
			width:40px;
		    height:40px;
		    border-radius:10px;
		    display:block;
		    list-style:none;
		    border:2px solid #e0e0e0;
		    margin:10px 0 0 10px;
		    text-indent:-10000px;
		    float:left;
			cursor:pointer;
			box-shadow:0 2px 6px rgba(0,0,0,.2);
		}
		#quick_color {
			width:100%;
			height:55px;
			text-align: center;
			width: inherit;
			float:left;
			box-shadow:0 2px 6px rgba(0,0,0,.2);
		}
		#quick_color_dots {
			padding:0;
			margin:0 0 0 7px;
		}
		#quick_color_dots input {
			width:40px;
		    height:40px;
		    border-radius:10px;
		    display:block;
		    list-style:none;
		    border:2px solid #e0e0e0;
		    margin:6px 0px 0px 10px;
		    text-indent:-10000px;
		    float:left;
			cursor:pointer;
			box-shadow:0 2px 6px rgba(0,0,0,.2);
		}

		footer {
			width:100%;
			height:110px;
			background:rgb(248,255,255);
			clear:left;
			float:left;
			text-align: center;
			padding-top: 5px;
			box-shadow:0 1px 10px rgba(0,0,0,.3);
		}
		footer input {
			margin-right: 20px;
			width: 40px;
			height: 40px;
			border-radius: 40px;
		}
		#twitter{
			background-color: #008dd7;
			width:40px;
		    height:40px;
		    border-radius:10px;
		    border:2px solid #008dd7;
		    margin:6px 0px 0px 10px;
		    cursor:pointer;
			box-shadow:0 2px 6px rgba(0,0,0,.2);
		}
		#facebook
		{
			background-color: #013592;
			width:40px;
		    height:40px;
		    border-radius:10px;
		    border:2px solid #013592;
		    margin:6px 0px 0px 10px;
		    cursor:pointer;
			box-shadow:0 2px 6px rgba(0,0,0,.2);
		}
		#save
		{
			width:40px;
		    height:40px;
		    border-radius:10px;
		    border:2px solid #e5e5e5;
		    margin:6px 0px 0px 10px;
		    cursor:pointer;
			box-shadow:0 2px 6px rgba(0,0,0,.2);
		}